.hidden {
    display: none !important;
}

html {
    height: 100%;
}

/*body {*/
    /*min-height: 100vh;*/
    /*color: grey;*/
/*}*/

#body_container {

}

.navbar-brand {
    margin-left: 0;
    margin-right: 0;
}

/* fixed and fluid only on sm and up */
/*@media (min-width: 576px) {*/
    /*.fixed {*/
        /*flex: 0 0 200px;*/
        /*min-height: 100vh;*/
    /*}*/

    /*.col .fluid {*/
        /*min-height: 100vh;*/
    /*}*/
}

/*.vh-100 {*/
    /*min-height: 100vh;*/
/*}*/

/*.flex-grow {*/
    /*flex: 1;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: normal;*/
/*}*/

/*.site-wrapper {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*min-height: 100%;*/
    /*justify-content: space-between;*/
/*}*/

/*.content-wrapper {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: stretch;*/
    /*padding-bottom: 65px;*/
/*}*/

/*.section {*/
    /*width: 100%;*/
    /*margin-top: 0.5em;*/
    /*margin-bottom: 0.5em;*/
/*}*/

/*.pagination .page-link {*/
    /*color: black;*/
    /*background-color: white;*/
/*}*/

/*.breadcrumb {*/
    /*padding: .3rem .5rem;*/
    /*margin-bottom: 0;*/
    /*background-color: transparent;*/
    /*border: 0px solid;*/
    /*border-radius: 0px;*/
    /*font-size: .8rem;*/
/*}*/

/*.breadcrumb-item.active {*/
    /*color: black;*/
/*}*/

/*!*-- Quill editor alignment display --*!*/
/*.ql-align-right {*/
    /*text-align: right;*/
/*}*/

/*.ql-align-left {*/
    /*text-align: left;*/
/*}*/

/*.ql-align-justify {*/
    /*text-align: justify;*/
/*}*/

/*.ql-align-center {*/
    /*text-align: center;*/
/*}*/

/*.draft-warning {*/
    /*padding-top: 150px;*/
    /*font-size: 150%;*/
    /*color: red;*/
/*}*/

/*!*-- /Quill editor alignment display --*!*/

/*h3.page-title {*/
    /*font-size: 45px;*/
    /*font-family: Verdana;*/
    /*font-weight: bold*/
/*}*/