.navbar {
    z-index: 1000;
    background-color: white;
    /*border-bottom: 1px solid lightgrey;*/
}

.nav-margin {
    margin-top: 20px !important;
}


.nav-margin-plus {
    margin-top: 300px !important;
}