{% extends 'main/base.html' %}

{% block page_styles %}
<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<style type="text/css">
    h1 {
        font-family: 'Monoton', cursive;
        font-size: 150px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">
        404
    </h1>
    <h3 class="text-center">
        Sorry, but this page could not be found.
    </h3>
</div>
{% endblock %}