/*-- alerts --*/
.alert-container {
    opacity: 0;
    z-index: -100;
    position: fixed;
    top: 28%;
    width: 100%;
    left: 0;
    margin-left: 0;
}

@media (min-width: 576px) {
    .alert-container {
        width: 400px;
        left: 50%;
        margin-left: -200px;
    }
}

.alert-container.displayed {
    opacity: 1;
    z-index: 1000;
}

.alert-container.displayed .alert {
    box-shadow: 3px 3px 5px #888888;
}

.alert ul {
    margin-bottom: 0;
}

ul#success_field:empty,
ul#error_field:empty {
    display:none;
}
/*-- /alerts --*/

/*-- load icon --*/
#load_icon_1 {
    display: none;
    position: absolute;
    width: 50px;
    left: calc(50% - 25px);
    top: 40%;
    z-index: 1000;
}
/*-- /load icon --*/