.info-column {
  transition: all 0.5s ease; }
  .info-column.expand {
    transition-duration: 0.5s;
    min-height: 28rem;
    height: 100%;
    min-width: 100%;
    width: 100%;
    display: block; }
