.hidden {
    display: none;
}

button {
    cursor: pointer;
}
/*-- pointer cursor --*/
input[type='checkbox'],
select,
select option {
    cursor: pointer;
}

.btn {
    cursor: pointer;
}

.back-to-top {
    cursor: pointer;
}

.custom-file-input {
    cursor: pointer;
}
/*-- /pointer cursor --*/

/*-- pagination --*/
.pagination .page-link.disabled {
    pointer-events: none;
    cursor: default;
    color: #ddd;
    opacity: .8;
}
/*-- /pagination --*/

/*-- alerts --*/
.alert-container {
    opacity: 0;
    z-index: -100;
    position: fixed;
    top: 28%;
    width: 100%;
    left: 0;
    margin-left: 0;
}

@media (min-width: 576px) {
    .alert-container {
        width: 400px;
        left: 50%;
        margin-left: -200px;
    }
}

.alert-container.displayed {
    opacity: 1;
    z-index: 1000;
}

.alert-container.displayed .alert {
    box-shadow: 3px 3px 5px #888888;
}

.alert ul {
    margin-bottom: 0;
}

ul#success_field:empty,
ul#error_field:empty {
    display:none;
}
/*-- /alerts --*/

/*-- load icon --*/
#load_icon_1 {
    display: none;
    position: absolute;
    width: 50px;
    left: calc(50% - 25px);
    top: 40%;
    z-index: 1000;
}
/*-- /load icon --*/

/*---- back-to-top button ----*/
.back-to-top {
    position: fixed;
    display: none;
    z-index: 100;
}

@media (min-width: 671px) {
    .back-to-top {
        left: 10px;
        bottom: 10px;
    }
}

@media (max-width: 670px) {
    .back-to-top {
        left: 10px;
        bottom: 10px;
        padding: .4rem .6rem;
    }
}
/*---- /back-to-top button ----*/

.body-container-wrapper {background: #00548d;}

.body-container {background: #fff;}

.row_item {cursor: pointer;}