@import url('https://fonts.googleapis.com/css?family=Rammetto+One'); 
  body {
    background: white;
    color: white; }

    .navbar {
      background-color: black; }

      .navbar-inverse .navbar-nav .nav-link {
        color: white; }

        .navbar-collapse .nav-link {
          font-weight: bold;
          font-family: 'Crushed', cursive;
          font-size: 32px;
          text-shadow: 1px 1px 0px black; }

          .footer {
            background-color: grey;
            color: white !important;
            opacity: 0.8; }

            #navbar_brand {
              font-size: 30pt;
              font-family: 'Rammetto One', cursive;
              color: white;
              text-shadow: 1px 1px 0px #000072, 1.5px 1.5px 0px #000058, 2px 2px 0px #00003e,
                            2.5px 2.5px 0px #000025, 4px 6px 10px darkblue; }

              #home_title {
                font-size: 36pt;
                font-family: 'Rammetto One', cursive;
                color: white;
                text-shadow: 1px 1px 0px #000072, 1.5px 1.5px 0px #000058, 2px 2px 0px #00003e,
                                2.5px 2.5px 0px #000025, 4px 6px 10px darkblue; }

                .page-title {
                  font-size: 30pt;
                  font-family: 'Rammetto One', cursive;
                  color: black; }

                  .carousel-icon-box {
                    background-color: #41cde1; }
