{% extends 'main/base.html' %}

{% block title %}About{% endblock %}

{% block page_styles %}
    <style>
        #about_section .row {
            padding-bottom: 40px;
        }
    </style>
{% endblock %}

{% block page_scripts %}{% endblock %}

{% block body %}
    <div id="about_section" class="container pt-4">
        <div class="justify-content-center row">
            <h3 class="page-title text-center mb-5">About CVT</h3>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h4 class="text-center">{{ g.datastore.find_content(page='about_us', name='body').header|safe }}</h4>
                    </div>
                    <div class="col-12 mt-5">
                        <h5>{{ g.datastore.find_content(page='about_us', name='body').body|safe }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if draft %}
        <b class="justify-content-center text-center draft-warning">THIS IS A DRAFT</b>
    {% endif %}
{% endblock %}