<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | The Jupebox</title>

    <!-- google analytics files -->
    {% if config['USE_GOOGLE_ANALYTICS'] == True %}
    {% include "main/google_analytics.html" %}
    {% endif %}
    <!-- /google analytics files -->


    <!-- favicon -->
    <link href="{{ url_for('static', filename='icons/volleyball_2.ico') }}" rel="icon" type="image/x-icon"/>
    <!-- /favicon  -->

    <!-- head imports -->
    {% include "main/imports_head.html" %}
    <!-- /head imports -->

    <!-- page-specific styles -->
    {% block page_styles %}{% endblock %}
    <!-- /page-specific styles -->

</head>
<body>
<!-- load icon -->
{% include 'load_icon_1.html' %}
<!-- /load icon -->

<div id="body_container" class="container-fluid">
    <div class="row">
        <!-- navbar -->
        {% include 'main/navbar_top.html' %}
    </div>
    <!-- /navbar -->
    <!-- body -->
    {% block body %}{% endblock %}
    <!-- /body -->
</div>


<!-- footer -->
{# {% include 'main/footer.html' %} #}`
<!-- /footer -->
<!-- body imports -->
{% include "main/imports_body.html" %}
<!-- /body imports -->

<!-- error/success modals -->
<ul id="success_field" class="success"></ul>
<ul id="error_field" class="error"></ul>
<!-- /error/success modals -->

{% include "alerts.html" %}
{% include "alerts_js.html" %}
<!-- js for error modals -->
<script>
</script>
<!-- /js for error modals -->

<!-- page-specific scripts -->
{% block page_scripts %}{% endblock %}
<!-- /page-specific scripts -->

</body>
</html>