{% extends 'main/base.html' %}

{% block title %}Contact{% endblock %}

{% block page_styles %}
    <style>

    </style>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">
        function submit_contact_us_form() {
            if ($('.form-control:invalid').length == 0) {
                window.event.preventDefault();
                var form = $('#contact_us_form');
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('main.contact_us')  }}",
                    data: form.serializeArray(),
                    success: function (data, status, request) {
                        alertSuccess(data);
                        $('#load_icon_1').hide();
                    },
                    error: function (data) {
                        alertError(data);
                        $('#load_icon_1').hide();
                    }
                })
            }
        }
    </script>
{% endblock %}

{% block body %}
    <div id="contact_section" class="container pt-4">
        <div class="justify-content-center text-center row">
            <div class="col-12">
                <h3 class="page-title text-center">Contact Us</h3>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12">
                <h3 class="text-center">{{ g.datastore.find_content(name='header', page='contact_us').header|safe }}
                </h3>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-12">
                <form id="contact_us_form">
                    <div class="form-group">
                        {{ contact_us_form.email.label }}
                        <input name="email" class="form-control" type="email" required>
                        {{ contact_us_form.name.label }}
                        <input name="name" class="form-control" required>
                        {{ contact_us_form.message.label }}
                        <textarea name="message" rows="11" class="form-control" required></textarea>
                        {{ contact_us_form.captcha }}
                    </div>
                    {{ contact_us_form.csrf_token }}
                    <button type="submit" onclick="submit_contact_us_form();" class="btn">Submit</button>
                </form>
            </div>
        </div>


    </div>
    {% if draft %}
        <b class="justify-content-center text-center draft-warning">THIS IS A DRAFT</b>
    {% endif %}
{% endblock %}