{% extends "main/base.html" %}

{% block title %}FAQ{% endblock %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}{% endblock %}

{% block body %}
    <div id="faq_title" class="section pt-4 mb-5">
        <div class="justify-content-center col-12">
            <h3 class="page-title text-center">Frequently Asked Questions</h3>
        </div>
    </div>
    <div id="faq_section" class="container">
        <div class="justify-content-center text-center row">
            <div class="col-12 tile-row p-4">
                <h4 class="mb-4">Questions</h4>
                <ul id="back" class="pl-0 text-left" style="list-style-type: none;">
                    {% for question in g.datastore.find_faqs() %}
                        <li class="pb-2"><span><strong><a href="#{{ question.order }}"><span>{{ question.question }}</span></a></strong></span></li>
                    {% endfor %}
                </ul>
                <hr>
                <h4 class="mb-4">Answers</h4>
                <div class="text-left">
                    {% for question in g.datastore.find_faqs() %}
                        <div id="{{ question.order }}" class="mb-5">
                            <h5 class="mb-3"><strong><a name="{{ question.order }}"></a>{{ question.question }}</strong></h5>
                            <p>{{ question.answer|safe }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
