<style>
    #footer {
        bottom: 0;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
    }

    #links {
        position: relative;
        top: -20px;
    }

    html {
        position: relative;
        min-height: 100%;
    }

    .footer {
        position: fixed;
        bottom: 0px;
        z-index: 999;
        width: 100%;
        justify-self: end;
        /* Set the fixed height of the footer here */
        height: 50px;
        /*line-height: 50%; !* Vertically center the text there *!*/
        border-top: 1px solid lightgrey;
        color: grey;
    }

    /*---- footer ----*/
    footer a {
        text-decoration: none;
    }

    footer a:hover {
        text-decoration: none;
    }

    footer {
        margin-top: 20px;
    }

    footer .list-inline {
        margin-bottom: 0;
    }

    footer .footer-col {
        margin-bottom: 10px;
    }

    footer .container {
        padding-top: 20px;
    }

    .list-inline > li {
        display: inline-block;
    }

    .btn-social {
        display: inline-block;
        width: 40px;
        height: 40px;
        color: white;
        border: 2px solid white;
        border-radius: 100%;
        text-align: center;
        line-height: 40px;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
    }

    .btn-social:hover,
    .btn-social:focus,
    .btn-social:active {
        background: white;
        color: white;
    }

    /*---- subscribe ----*/
    form#subs {
        width: 100%;
    }

    #sub_section .input-group {
        width: 100%;
    }

    #sub_section .input-group-addon {
        background-color: white;
        color: #5bc0de;
        border: 1px solid #5bc0de;
    }

    #sub_section .btn-outline-info:hover {
        color: #fff;
        background-color: #5bc0de;
        border-color: #5bc0de;
    }

    /*---- /subscribe ----*/

    /*---- /footer ----*/
</style>
<!-- Sticky footer -->
<footer id="footer" class="text-center footer">
    <div class="container">
        <div class="row mt-1">
            <div id="links" class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/cvtsand/"
                           target="_blank" class="btn-social btn-outline"><i class="fa fa-1 fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/coloradovolleyballtour/"
                           target="_blank" class="btn-social btn-outline"><i class="fa fa-1 fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/colorado-volleyball-tour/"
                           target="_blank" class="btn-social btn-outline"><i class="fa fa-1 fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>