{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block page_styles %}
<style>
    .header {
        height: 995px;
    }

    #homepage_header {
        position: relative;
        width: 100%;
        z-index: 10;
    }

    h3 {
        font-size: 40px;
        font-family: 'Ultra', sans-serif;
    }

    #homepage_lower {
        position: relative;
        width: 100%;
        z-index: 15;
        border-radius: 10px 10px 0px 0px;
        color: grey;
    }

    .img-container {
        width: 100%;
    }

    .banner-img {
        width: 100%;
    }

    .carousel,
    .carousel-inner {
        height: 100%;
        margin-top: 50px;
    }

    .carousel-icon-box {
        height: 20px;
        width: 20px;
        border: white;
        border-radius: 2px;
    }

    .carousel-control-next-icon {
        margin-left: 8px;
    }

    .carousel {
        height: 2000px;
    }

    @media (min-width: 1600px) {
        .header {
            height: 1500px;
        }
    }

    /*-- responsive design --*/
    @media (max-width: 1600px) {
        .header {
            /*height: inherit;*/
            height: 795px;
        }
    }

    @media (max-width: 1366px) {
        .header {
            height: 765px;
        }
    }

    @media (max-width: 1024px) {
        .header {
            height: 685px;
        }
    }

    @media (max-width: 991px) {
        .nav > li > a {
            padding: 10px 12px;
        }

        .navbar-brand {
            padding: 8px 8px;
        }

        .header {
            height: 595px;
        }
    }

    @media (max-width: 800px) {
        .header {
            /*height: 520px;*/
        }

        .nav > li > a {
            padding: 9px 9px;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #dadada;
            font-weight: 600;
            font-size: 15px;
            margin-top: 5px;
        }
    }

    @media (max-width: 768px) {
        .navbar > .container .navbar-brand,
        .navbar > .container-fluid .navbar-brand {
            margin-top: 10px;
        }

        .header {
            /*height: 400px;*/
        }
    }

    @media (max-width: 667px) {
        .header {
            /*height: 400px;*/
        }
    }

    @media (max-width: 640px) {
        .header {
            /*height: 400px;*/
        }

        .navbar-brand {
            padding-top: 8px;
        }
    }

    @media (max-width: 568px) {
        .header {
            /*height: 260px;*/
        }
    }

    @media (max-width: 1000px) {
        #homepage_header {
            margin-top: 125px;
            height: 250px
        }
    }

    .parallax-2 {
        color: white;
    }

    body {
        background: radial-gradient(grey, black 75%);
        height: 50vh;
    }


</style>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
    function parallaxScroll() {
        // 930 and 1837
        var scrolled = $(window).scrollTop();
        if ($(window).height() <= 1000) {
            $('.img-container').css('top', (0 - (scrolled * 1.5)) + 'px');
            $('.parallax-2').css('top', (0 - (scrolled * .6)) + 'px');
            $('.parallax-2').css('margin-bottom', (0 - (scrolled * .3)) + 'px');
            $('.parallax-3').css('top', (0 - (scrolled * .1)) + 'px');
        }
        else {
            $('.img-container').css('top', (0 - (scrolled * .1)) + 'px');
            $('.parallax-2').css('top', (0 - (scrolled * .8)) + 'px');
            $('.parallax-2').css('margin-bottom', (0 - (scrolled * .1)) + 'px');
            $('.parallax-3').css('top', (0 - (scrolled * .1)) + 'px');
        }
    }


    // alert(navigator.appCodeName);
    parallaxScroll();
    $(window).bind('scroll', function (e) {
        parallaxScroll();
    });

    $('.form-control').on('keyup', function () {
        if ($('.form-control:invalid').length === 0) {
            $('#contact_us_form_submit').attr('disabled', false);
        }
        else {
            $('#contact_us_form_submit').attr('disabled', true);
        }
    });

    function contact_us() {
        window.event.preventDefault();
        $('#user-message').html('');
        $('#user-message').addClass('hidden');

        var submission_data = $('#contact_us_form').serializeArray();
        $('#load_icon_1').show();
        $.ajax({
            type: 'POST',
            data: submission_data,
            url: "{{ url_for('main.contact_us') }}",
            success: function (data, status, request) {
                var return_message = data['message'];
                $('#user-message').append(return_message);
                $('#user-message').removeClass('hidden');
                $('#load_icon_1').hide();
            },
            error: function (data) {
                $('#user-message').removeClass('hidden');
                $('#user-message').append('Sorry, there was an error.');
                $('#load_icon_1').hide();
            }
        })
    }

</script>
{% endblock %}

{% block body %}
<!-- banner section -->
<div id="homepage_header" class="header" style="z-index: -1;">
    <div id="carouselHomepage" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="img-container">
                    <img class="banner-img"
                         src="{{ url_for('static', filename='images/inside_1.jpg') }}">
                </div>
            </div>
            <div class="carousel-item">
                <div class="img-container">
                    <img class="banner-img"
                         src="{{ url_for('static', filename='images/profile_2.jpg') }}">
                </div>
            </div>
            <div class="carousel-item">
                <div class="img-container">
                    <img class="banner-img"
                         src="{{ url_for('static', filename='images/profile_1.jpg') }}">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /banner section -->

<div id="homepage_lower" style="margin-bottom: 15px;">
    <div class="container">
        <div class="row pb-4" style="padding-top: 60px;">
            <div class="col-12 justify-content-center parallax-2" id="about">
                <a class="text-center"><h3>The Jupebox</h3></a>
                <hr>
                <h4 class="text-center" style="margin-bottom: 50px; line-height: 1.5;">
                    Established late in 2016 by Priscilla Jupe, a photographer and overall awesome person, the Jupebox
                    is
                    a way to add a little flash to any party.
                    <br><br>
                    We've done our best to make the perfect little spot so that taking a picture at your event is as
                    memorable as the event itself.

                </h4>
                <!--<img src="{{ url_for('static', filename='images/inside_1.jpg') }}"-->
                <!--height="500px" width="750px" class="offset-md-1 mt-5 pt-5">-->
            </div>
        </div>
    </div>
</div>


<div class="tier-3 mb-5">
    <div class="container">
        <div class="col-12 justify-content-center parallax-3" id="contact">
            <a class="text-center" style="line-height: 1.8;"><h3>Contact Us</h3></a>
            <hr>
            <h4 class="text-center" style="line-height: 1.5">Interested in booking the Jupebox, or just want to send
                us a friendly message?<br>Use the form below.</h4>
             <div style="color: red; background-color: white;"
                 class="form-control hidden" id="user-message"></div>
            <form style="z-index: 55" id="contact_us_form">
                {{ contact_us_form.csrf_token }}
                <label>Name</label>
                <input name="name" class="form-control" required>
                <label>Email</label>
                <input name="email" type="email" class="form-control" required>
                <label>What's your message?</label>
                <textarea name="message" class="form-control" required></textarea>
                {{ contact_us_form.captcha(style='margin-top: 15px;') }}
                <button class="mt-3 btn btn-secondary offset-md-5 col-sm-12 col-md-2"
                        id="contact_us_form_submit" disabled onclick="contact_us();">Submit
                </button>
            </form>
        </div>
    </div>
</div>


{% endblock %}