<!-- Fixed navbar -->
<nav class="navbar navbar-inverse fixed-top navbar-toggleable-md flex-column">
    <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"-->
            <!--data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"-->
            <!--aria-label="Toggle navigation" onclick="$('.navbar').css('opacity', 1.0);">-->
        <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <div class="row justify-content-center">
        <a style="text-decoration: none; color: white;" href="{{ url_for('main.homepage') }}"><h1>The Jupebox</h1></a>
    </div>
    <div class="row justify-content-center text-center">
        <h4>The Cutest Little Photo Booth this side of the Mississippi</h4>
        <!--<div class="collapse navbar-collapse" id="navbarCollapse">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#contact">Contact Us</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</nav>