.hidden {
    display: none;
}

html {
    position: relative;
    min-height: 100%;
}

.container {
    padding-top: 20px;
}

.dropdown-header {
    opacity: .5;
}

body > .container:last-of-type {
    padding-bottom: 60px;
}

h1 {
    margin-top: 2rem;
    margin-bottom: .5rem;
}

h2.page-title {
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.pagination-row {
    border-top: solid 1px black;
}

ul.pagination {
    margin-bottom: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.table-controls-outline,
.table-outline {
    background-color: #EDEDED;
    padding: 0;
    margin-bottom: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.list-section {
    -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);
    box-shadow:  0 0 30px 0 rgba(0,0,0,0.1);
}

.filter-wrapper {
    font-size: .8rem;
}

table.table-condensed {
    margin-bottom: 0;
}

table.table-condensed tbody {
    background-color: white;
}

.form-check-input:only-child {
    position: absolute;
}

.input-group .btn.btn-secondary,
.btn-filter-action {
    min-width: 6rem;
}

.search-tool {
    min-height: 84px;
    border-radius: .25rem;
}

#filter_input_group label {
    margin-bottom: 0;
}

.sort:after {
    content: '\f0dc';
    font-family: FontAwesome;
    margin-left: 6px;
    color: black;
}

.asc:after {
    content: '\f0dd';
    font-family: FontAwesome;
    margin-left: 6px;
    color: #0275d8;
}

.desc:after {
    content: '\f0de';
    font-family: FontAwesome;
    margin-left: 6px;
    color: #0275d8;
}

.gallery-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section_title {
    padding: 30px 20px 10px;
    font-size: 2.2rem;
}

.btn_hidden {
    visibility: hidden;
    display: none;
}

button:disabled {
    cursor: not-allowed;
}

.btn:disabled {
    opacity: .3;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

/*---- admin navbar ----*/
.navbar {
    margin-bottom: 20px;
}
/*---- /admin navbar ----*/

/*-------- lists --------*/
@media only screen and (max-width: 900px) {
    .row_hide {
        display: none;
    }
}

@media only screen and (min-width: 901px) {
    .hidden_row_data {
        display: none;
    }
}

.table th {
    border-top: none;
}

.table td {
    border-top: 1px solid #BBBBBB;
}

.table-sm thead th {
    border-bottom: 1px solid black;
    padding-top: .75rem;
    padding-bottom: .75rem;
    vertical-align: middle;
}

.table-hover tbody tr:hover {
    background-color: #eee;
}

tr.row_selected {
    background-color: #eee;
}

tr.sub_data_parent {
    background-color: #eee;
}

tr.sub_data_parent > td {
    padding: 0 2rem 2rem;
    border-top: 0;
}

tr.sub_data_parent label {
    font-weight: bold;
}

tr.sub_data_parent label.form-check-label {
    font-weight: normal;
}

tr.sub_data_parent .form-check {
    text-align: left;
}

tr.sub_data_parent hr {
    margin-top: 0;
}
/*-------- /lists --------*/

/*-------- dashboard page --------*/
#dashboard {
    margin-top: 2.5rem;
}

.widget {
    padding: .8rem;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 3px;
    background-color: white;
    box-shadow: 1px 1px 3px;
}

.widget hr {
    margin-top: .8rem;
    margin-bottom: .8rem;
}

.widget-column {
    padding-left: .4rem;
    padding-right: .4rem;
}

.widget-headline {
    font-size: 14px;
}

.widget-preview-pane {
    border: 1px solid rgba(0,0,0,.1);
    max-height: 700px;
}
/*-------- /dashboard page --------*/

/*---- admin navbar ----*/
.navbar {
    margin-bottom: 20px;
}
/*---- /admin navbar ----*/

/*---- admin footer ----*/
footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
}

footer {
    margin-top: 40px;
}

.list-inline > li {
    display: inline-block;
}

.btn-social {
    display: inline-block;
    width: 45px;
    height: 45px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

.btn-social:hover,
.btn-social:focus,
.btn-social:active {
    background: #fff;
    color: #292b2c;
}
/*---- /admin footer ----*/

/*-------- admin homepage --------*/
.custom-file-control:after {
    content: attr(data-content) !important;
}

/*-- about section --*/
#quill_container {
    /*height: 75rem;*/
    max-height: 70rem;
}

.ql-container {
    height: 85%;
}
/*-- /about section --*/


.table td {
    vertical-align: middle;
}

/*.table thead tr th:first-child {*/
    /*padding-left: .2rem;*/
    /*padding-right: .2rem;*/
/*}*/

/*.table tbody tr td:first-child {*/
    /*padding-left: .2rem;*/
    /*padding-right: .2rem;*/
/*}*/

.form-check {
    margin-bottom: 0;
}

.form-check label {
    margin-bottom: 0;
    /*padding-left: 1rem;*/
}

/*.table .checkbox-item,*/
/*.table #select_all {*/
    /*width: 80%;*/
/*}*/
/*-------- /admin homepage --------*/

/*-------- posts page --------*/
/*-- calendar section --*/
#calendar-wrapper {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

@media (min-width: 1450px) {
    #post_calendar {
        width: 1400px;
        max-width: 100%;
    }
}

.fc-list-table td {
    padding: 8px 5px !important;
}
/*-- /calendar section --*/

/*-- list section --*/
@media only screen and (max-width: 900px) {
    .row_hide {
        display: none;
    }
}

.table th {
    border-top: none;
}

tr .quill-container {
    background-color: white;
    padding: 0;
}

tr.sub_data_parent .container {
    width: 100%;
}

tr.sub_data_parent td,
tr.sub_data_parent .container,
tr.sub_data_parent .row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
/*-- /list section --*/
/*-------- /posts page --------*/
