/*-- General Error Styling --*/
.hidden {
    display: none !important;
}

.flex-group {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.validation-icon {
    display: inline;
    color: red;
    font-size: 14px;
    font-weight: 400;
    text-shadow: 0 0.1rem 0.5rem rgb(0, 0, 0);
}

.val-icon-tooltip {
    -webkit-appearance: none !important;
}


.modal h4,
.modal p {
    color: black;
    font-weight: 600;
}

/*.validation-icon-generic {*/
    /*right: -0.6em;*/
/*}*/
/*-- General Error Styling --*/
