.btn {
    cursor: pointer;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 8px 8px;
    line-height: 20px;

    font-weight: 400;
    color: black;
    font-size: 27px;
    text-shadow: 1px 1px 2px #a4a4a4, 2px 2px 2px #a4a4a4, 3px 3px 2px #a4a4a4;
}

h1.login_title {
    padding-top: 20px;
    padding-bottom: 40px;
}

#login_user_form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#login_user_form .login_heading,
#login_user_form .checkbox {
    margin-bottom: 10px;
}

#login_user_form .checkbox {
    font-weight: normal;
}

#login_user_form .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

#login_user_form .form-control:focus {
    z-index: 2;
}

#login_user_form input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#login_user_form input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#login_user_form #submit {
    margin-top: 10px;
}