<table>
    <tr>
        <th style="width: 20%"></th>
        <th style="width: 60%"></th>
        <th style="width: 20%"></th>
    </tr>
    <tr>
        <td></td>
        <td>
            <h2>Inquiry from thejupebox.com</h2>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <h2>Name: {{ form.name.data }}</h2>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <h2>Email: {{ form.email.data }}</h2>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <h2>Message: {{ form.message.data }}</h2>
        </td>
        <td></td>
    </tr>
</table>