//Configure frontend styles here

$mainBackgroundColor: white;

$mainThemeColor: #41cde1;
//#00548d


$brandTextColor: white;
$brandSecondaryTextColor: darkblue;
//$brandTertiaryTextColor: darkblue;


