$animation-duration: .5s;

.info-column {
  transition: all $animation-duration ease;
  &.expand {
    transition-duration: $animation-duration;
    min-height: 28rem;
    height: 100%;
    min-width: 100%;
    width: 100%;
    display: block;
  }
}

//.info-container {
//  transition: all $animation-duration ease;
//  &.expand {
//    transition-duration: $animation-duration;
//    min-height: 18rem;
//    min-width: 100%;
//    width: 100%;
//    display: block;
//  }
//}
