//choose theme name here
@import "themes/_ocean";
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

//example mixin
@mixin text3d($color, $secondary_color) {
  color: $color;
  text-shadow: 1px 1px 0px darken($secondary_color, 5%),
  1.5px 1.5px 0px darken($secondary_color, 10%),
  2px 2px 0px darken($secondary_color, 15%),
  2.5px 2.5px 0px darken($secondary_color, 20%),
  4px 6px 10px $secondary_color;
}

body {
  background: $mainBackgroundColor;
  color: white;
}

.navbar {
  background-color: black;
}

.navbar-inverse .navbar-nav .nav-link {
  color: $mainBackgroundColor;
}

.navbar-collapse .nav-link {
  //color: $brandSecondaryTextColor !important;
  font-weight: bold;
  //font-family: 'Junction';
  //font-family: 'Rajdhani', sans-serif;
  font-family: 'Crushed', cursive;

  //font-family: 'Imprima', sans-serif;
  //font-family: 'Codystar', cursive;
  font-size: 32px;
  text-shadow: 1px 1px 0px black;
  //text-shadow: 2px 2px 0px $brandSecondaryTextColor;

}

.footer {
  background-color: grey;
  color: $brandTextColor !important;
  opacity: 0.8;
  //@include text3d($brandTextColor, $brandSecondaryTextColor);
}

#navbar_brand {
  font-size: 30pt;
  font-family: 'Rammetto One', cursive;
  @include text3d($brandTextColor, $brandSecondaryTextColor);
}

#home_title {
  font-size: 36pt;
  font-family: 'Rammetto One', cursive;
  @include text3d($brandTextColor, $brandSecondaryTextColor);
}

.page-title {
  font-size: 30pt;
  font-family: 'Rammetto One', cursive;
  color: black;
}

.carousel-icon-box {
  background-color: $mainThemeColor;
}